Center images/plots produced from converted notebooks
.jp-RenderedImage,
.output_png,
.output_svg {
  display: flex;
  justify-content: center;
}

.md-typeset ul li,
.md-typeset ol li {
  margin-bottom: 0;
}

.md-typeset ul,
.md-typeset ol {
  margin-bottom: 0;
}

