/* Center images/plots produced from converted notebooks */
.jp-RenderedImage,
.output_png,
.output_svg {
  display: flex;
  justify-content: center;
}
/* 
.md-content ul,
.md-content ol {
  margin-top: 0.4em;
  margin-bottom: 0.4em;
}

.md-content li {
  margin-bottom: 0;
} */
