/* Center images / plots produced from converted notebooks */
.md-typeset img.jp-RenderedImage,
.md-typeset img.output_png,
.md-typeset img.output_svg {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.md-typeset .output_png,
.md-typeset .output_svg {
  text-align: center;
}

.jp-RenderedImage,
.output_png,
.output_svg {
  display: flex;
  justify-content: center;
}

.md-typeset ul li,
.md-typeset ol li {
  margin-bottom: 0;
}

.md-typeset .admonition table,
.md-typeset details table {
  font-size: 0.9em;
}
